@import url('https://fonts.googleapis.com/css2?família=Epílogo:ital,wght@0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800; 1.900&família=Inter:wght@100; 200; 300; 400; 500; 600; 700; 800; 900&family=Montserrat:ital,wght@0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800; 1.900&família=Roboto:ital,wght@0.100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1.900&family=Teko:wght@600&display=swap');* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1f1517;
    color: #ffffff;
}

html {
    font-family: inter, sans-serif;
    font-weight: 500;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color: #FFF2E780;
}

.github {
    color: #FFF2E7;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
}

.principal {
    background: #181012;
}

.hero {

    max-width: 1120px;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
    align-items: center;
    padding: 0rem 2rem;
    margin: auto;

    overflow: clip;

}

.hero-conteudo {
    display: flex;
    flex-direction: colum;
    gap: 1rem;
}

.destaque {
    font-family: Epílogo;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.marrom {
    color: #A45A49;
}

h1 {
    font-family: Montserrat;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 800;
}

hr {
    border-color: #A45A49;
}

.hero-subtitulo {
    color: #C7BAB3;
    font-family: inter;
    font-size: 1.5rem;
    font-weight: 400;
}

.hero-imagens-container {
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;

    padding: 0rem 2rem;
    margin: auto;
}

.hero-imagens-container > figure > img {
    width: 100%;
    border-radius: 0.5rem;

}

.botao-container {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    transform: translate("0, -50%");
}

button {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;

    background-color: #A45A49;
}

.atividades {
    display: flex;
    flex-direction: column;

    max-width: 1120px;
    padding: 3rem;
    margin: auto;
}

.atividades-cabecalho {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.pedais-titulo {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    color: #FFF2E7;
}

.pedais-subtitulo {
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.pedais-card-container {
    padding: 0rem 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.pedais-card {
    background-color: #241A1C;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
}